
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Exo', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 90%;
    margin: 0 auto;
}

.logo {
    color: red;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

li:hover > a {
    color: red;
}

.login:hover {
    transform: scale(1.02);
}

.login:hover > a {
    color: white;
}

nav > ul > li > a {
    color: white;
    font-size: 1.5em;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red 2px;
    background-color: red;
    border-radius: 10px;
}

.login > img {
    font-size: 25px;
}

section {
    background: url("/img/wallpaper.jpg") no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 3% 0 5%;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

.title > h2 {
    font-family: 'Oswald', sans-serif;
}

.title > h2 > span {
    color: red;
}

.grid_container {
    margin: 0 auto 2%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 2px;
    border-radius: 10px;
}

.grid:nth-child(n) {
    color: white;
    font-size: 2.3em;
    font-weight: bold;
}

/* FORMULAS */

.grid > h3 {
    margin: 5% 0 0;
    font-family: 'Oswald', sans-serif;
}

/* SCREEN NUMBER */

.grid > p:nth-child(2) { 
    margin: 25% 0;
    font-size: 0.7em;
}

.grid > p:nth-child(3) { 
    font-size: 0.9em;
}

.price {
    color: red;
}

.subscribe {
    margin: 15% 0;
    padding: 5px;
    font-size: 0.8em;
    border: solid red 2px;
    background: red;
    border-radius: 10px;
    cursor: pointer;
}

.subscribe:hover {
    transform: scale(1.02);
}

